@import "Root.module";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.06vmin;
  color: var(--text-color);
  font-weight: 100;
}
body {
  background: linear-gradient(360deg, #0A0C10 0%, rgba(10, 12, 16, 0) 100%), url("../public/bg-star.png"), var(--background-color);
  background-position: left bottom;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--background-color1);
  outline: 1px solid var(--background-color1);
}
* a {
  color: inherit;
  text-decoration: none !important;
}
* button:disabled {
  filter: opacity(25%);
}

.title {
  text-transform: uppercase;
  line-height: 110%;
  font-weight: 700;
  &-fz48 {
    font-size: 5vmin;
    text-transform: uppercase;
  }
  &-fz20 {
    font-size: 16px;
    &-sub {
      font-weight: 300;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: center;
  padding: 60px 40px;
  background: var(--background-color1);
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  &__title {
    margin-bottom: 20px;
  }
  &__error {
    color: var(--color-accent);
    font-weight: 500;
  }
}
.input-field>label {
  font-weight: 200;
}
select:focus {
  outline: none;
}
select option {
  color: dimgray;
  font-weight: 400;
}

@media only screen and (max-width: 575px) {
  .form {
    width: 300px;
  }
}