:root {
  --background-color: #020B26;
  --background-color1: #2d3344;
  --text-color: #F2F2F2;
  --color-submit: #033E8C;
  --color-submit1: #064973;
  --color-submit3: #35AAF2;
  --color-accent: #BF533B;
  --color-accent1: #F27405;
  --color-accent2: #F28705;
  --color-accent3: #F29F05;
  --color-accent4: #F2B705;
}